<h1>ここはTopページです</h1>

<p>評価:</P>
<div id="post_raty"></div>

<script>
var elem = document.getElementById('post_raty');
var opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
  };
  raty(elem,opt);
</script>